{% extends 'base.html' %}
{% block login %}

    <div class="container custom-container">
        <div id="board">
            <div class="col-12 col-md-10 m-auto">
                <form class="login-form" action="" method="POST" enctype="multipart/form-data">
                    <h3>Login Here</h3>
                    {% csrf_token %}
                    {% if error_message %}
                        <div class="error-message">{{ error_message }}</div>
                    {% endif %}

                    <label for="username" rel="nofollow noopener">Username</label>
                    <input type="text" class="form-control" placeholder="Email or Phone" name="username" id="username" required>

                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>

                    <button type="submit" class="login-link btn btn-primary">Login</button>
                    <p class="card-text">No account? => <a href="{% url 'register' %}" style="color:red; text-decoration:underline;">Register here</a></p>
                </form>
            </div>
        </div>
    </div>

    <style>

        .custom-container {
            max-width: 800px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .login-form {
            background-color: rgba(255, 255, 255, 0.13);
            border-radius: 10px;
            padding: 50px 35px;
            border: 2px solid rgba(255, 255, 255, 0.1);
            margin: 0 auto;
            width: 100%;
            max-width: 500px;
            font-family: 'Poppins', sans-serif;
        }

        .login-form h3 {
            text-align: center;
            font-family: 'Poppins', sans-serif;
        }

        .login-form label {
            margin-top: 30px;
        }

        .login-form input {
            background-color: #F0F0F0;
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
        }

        .login-link {
            margin-top: 50px;
            width: 100%;
            background-color: #F0F0F0;

            padding: 15px 0;
            background-color: #F0F0F0;
            border-radius: 15px;
            color: #272727;
            border: none;
        }

        .login-link:hover {
             background-color: 	#ADADAD;
        }

        .card-text {
            text-align: center;
            margin-top: 20px;
        }

        /* Additional styles can be added here */
    </style>

{% endblock %}
