{% extends 'base.html' %}
{% block about %}

    <div class="container nopadding-x-md">
        <div id="board">
            <div class="about-avatar">
                <img src="https://media.discordapp.net/attachments/1145373138339758221/1146430501381488650/248271A1-4D20-4873-B06B-C05A79916E6C.jpg?width=730&amp;height=671" srcset="/img/loading.gif" lazyload class="img-fluid" alt="avatar">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 m-auto">
                        <div class="text-center">
                            <div class="about-info">
                                <div class="about-name">山東饅頭</div>
                                <div class="about-intro">Being a technology enthusiast. </br> I have a passion for creating innovative things.</div>
                                <div class="about-icons">
                                    <a href="https://github.com/Andy61490963" class="hint--bottom hint--rounded" aria-label="GitHub" target="_blank">
                                        <i class="iconfont icon-github-fill" aria-hidden="true"></i>
                                    </a>
                                    <a href="https://github.com/Andy61490963" class="hint--bottom hint--rounded" aria-label="YouTube" target="_blank">
                                        <i class="iconfont icon-youtube-fill" aria-hidden="true"></i>
                                    </a>
                                    <a href="https://github.com/Andy61490963" class="hint--bottom hint--rounded" aria-label="Profile" target="_blank">
                                        <i class="iconfont icon-addrcard" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}