{% extends 'base.html' %}
{% block archives %}
{% with small_background=True %}

<div class="container nopadding-x-md">
    <div id="board">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 m-auto">
                    {% for tag in tags %}
                        <a href="{% url 'Taglist' tag.name %}" class="tag-link" style="font-size: {{ 12|add:tag.num_articles }}px;">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>

.tag-link {
    margin-right: 10px;    /* 在标签之间添加一些间距 */
}

</style>

{% endwith %}
{% endblock %}