{% extends 'base.html' %}
{% block content %}
  {% load static %}
  {% load markdown %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">

  <div class="container-fluid nopadding-x">
    <div class="row nomargin-x">
      <div class="side-col d-none d-lg-block col-lg-2"></div>

      <div class="col-lg-8 nopadding-x-md">
        <div class="container nopadding-x-md" id="board-ctn">
          <div id="board">
            <article class="post-content mx-auto">
              <!-- {{ article.postname }} -->
              <div class="container1">
                {{ article.repository_content.introduction|convert_markdown|safe }}
              </div>
              {% if article.repository_content.image %}
                  <img src="{{ article.repository_content.image.url }}" style="height: 10%; max-width: 10%;" />
                  <br/><br/>
              {% endif %}
              <br>
              <!--
              <div class="post-meta">
                <i class="iconfont icon-tags"></i>
                {% for tag in article.repository_content.tags.all %}
                  {{ tag.name }}
                {% endfor %}
              </div>
              -->
              <div class="license-box my-3">
                <div class="license-title">
                  <div>Title</div>
                  <div>{{ article.postname }}</div>
                </div>
                <div class="license-meta">
                  <div class="license-meta-item">
                    <div>Author</div>
                    <div>{{ article.repository_content.ownerid }}</div>
                  </div>
                  <div class="license-meta-item license-meta-date">
                    <div>Posted on</div>
                    <div>{{ article.formatted_month }} {{ article.formatted_day }}, {{ article.formatted_year }}</div>
                  </div>
                  <div class="license-meta-item">
                    <div>Licensed under</div>
                    <div>
                      <a class="print-no-link" target="_blank" href="https://creativecommons.org/licenses/by-nc/4.0/">
                        <span class="hint--top hint--rounded" aria-label="BY - Attribution">
                          <i class="iconfont icon-by"></i>
                        </span>
                      </a>
                      <a class="print-no-link" target="_blank" href="https://creativecommons.org/licenses/by-nc/4.0/">
                        <span class="hint--top hint--rounded" aria-label="NC - Non-commercial">
                          <i class="iconfont icon-nc"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="license-icon iconfont"></div>
              </div>
              <div class="post-prevnext my-3">
                <article class="post-prev col-6"></article>
                <article class="post-next col-6">
                  <a href="/post/EC2-website.html" title="Next">
                    <span class="hidden-mobile">Next</span>
                    <span class="visible-mobile">Next</span>
                    <i class="iconfont icon-arrowright"></i>
                  </a>
                </article>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="side-col d-none d-lg-block col-lg-2">
        <aside class="sidebar" style="margin-left: -1rem">
          <div id="toc">
            <p class="toc-header">
              <i class="iconfont icon-list"></i>
              <span>Table of Contents</span>
            </p>
            <div class="toc-body" id="toc-body"></div>
          </div>
        </aside>
      </div>
    </div>
  </div>

  <a id="scroll-top-button" aria-label="TOP" href="#" role="button">
    <i class="iconfont icon-arrowup" aria-hidden="true"></i>
  </a>

  <!-- Scripts -->
  <script src=https://lib.baomitu.com/clipboard.js/2.0.11/clipboard.min.js></script>
  <script>
    Fluid.utils.createScript('https://lib.baomitu.com/tocbot/4.20.1/tocbot.min.js', function() {
      var toc = jQuery('#toc');
      if (toc.length === 0 || !window.tocbot) {
        return;
      }
      var boardCtn = jQuery('#board-ctn');
      var boardTop = boardCtn.offset().top;

      window.tocbot.init(Object.assign({
        tocSelector: '#toc-body',
        contentSelector: '.markdown-body',
        linkClass: 'tocbot-link',
        activeLinkClass: 'tocbot-active-link',
        listClass: 'tocbot-list',
        isCollapsedClass: 'tocbot-is-collapsed',
        collapsibleClass: 'tocbot-is-collapsible',
        scrollSmooth: true,
        includeTitleTags: true,
        headingsOffset: -boardTop,
      }, CONFIG.toc));
      if (toc.find('.toc-list-item').length > 0) {
        toc.css('visibility', 'visible');
      }

      Fluid.events.registerRefreshCallback(function() {
        if ('tocbot' in window) {
          tocbot.refresh();
          var toc = jQuery('#toc');
          if (toc.length === 0 || !tocbot) {
            return;
          }
          if (toc.find('.toc-list-item').length > 0) {
            toc.css('visibility', 'visible');
          }
        }
      });
    });
  </script>

{% endblock %}
